<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pgman.sdk"
    android:versionCode="5"
    android:versionName="5.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pgman"
        android:label="@string/pgman_app_name">
        <!--        
		<meta-data 
            android:name="@string/pgman_registered_app_id"
            android:value="here store develop app id" />
		-->
		<activity
            android:name="com.pgman.auth.Login_Activity"
            android:label="@string/pgman_app_name"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" >
        </activity>
        <activity
            android:name="com.pgman.inappbilling.pgmanstore_IAB_dlg"
            android:label="@string/pgman_iab_title"
           	android:theme="@style/Theme.pgman.Transparent">
        </activity>
    </application>
    
</manifest>
