<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gemtree2.caribe" android:versionCode="5" android:versionName="0.0.05">
  <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="19" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <!-- APK 확장 파일 다운로드 위해 -->
  <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name ="android.permission.VIBRATE"/>
  
  <!-- Push -->
  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
  <permission android:name="com.gemtree2.caribe.permission.C2D_MESSAGE" android:protectionLevel="signature" />
  <uses-permission android:name="com.gemtree2.caribe.permission.C2D_MESSAGE" />
  <!-- Required to read and write the expansion files on shared storage -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- 네트워크 연결상태를 확인하기 위해 -->
  <!-- 에픽 몬스터즈 -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <!-- android:debuggable="true" -->
  <application android:allowBackup="true" android:label="Conquerors" android:icon="@drawable/ic_launcher">
    <activity android:name="com.gemtree2.caribe.MyMainActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:label="Conquerors">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="com.facebook.LoginActivity" />
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id" />
    <!-- Softnyx -->
		<activity
            android:name="com.pgman.auth.Login_Activity"
            android:label="@string/pgman_app_name"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" >
        </activity>
        <activity
            android:name="com.pgman.inappbilling.pgmanstore_IAB_dlg"
            android:label="@string/pgman_iab_title"
           	android:theme="@style/Theme.pgman.Transparent">
    </activity>
    <!-- Push -->
    <receiver android:name="com.gemtree2.caribe.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="com.gemtree2.caribe" />
      </intent-filter>
    </receiver>
    <service android:name="com.gemtree2.caribe.GcmIntentService" />
    <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    <meta-data 
        android:name="@string/pgman_registered_app_id"
        android:value="cef8abf8e045bbe0078d35b102570c31d5549d8aedff42e9abe9998d491747"/>
    </application>
</manifest>